@model NotataSub.Models.Cobon

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<style>
    .create-page {
        display: unset;
    }
</style>
@section CreatePage
{
  
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-5">
            <div class="form-group">
                <label asp-for="CobonValue" class="control-label"></label>
                <input asp-for="CobonValue" class="form-control" />
                <span asp-validation-for="CobonValue" class="text-danger"></span>
            </div>
            </div>
            <div class="col-5">
                </div>
    <label class="control-label">العدد</label>

    <input name="number" id="number" class="form-control" required="true" />



            
        


   

}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

