@model NotataSub.Models.Catogary

@{ ViewData["Title"] = "Create"; }

<style>
    .create-page {
        display: unset;
    }
</style>

@section CreatePage
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-5">

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="col-5">
        <div class="form-group">
            <label asp-for="Image" class="control-label"></label>
            <input asp-for="Image" class="form-control" type="file" />
            <span asp-validation-for="Image" class="text-danger" ></span>
           
        </div>


    </div>

    <div class="col-5">


        
    </div>
    @*<div class="col-5">

        <div class="form-group">
            <label asp-for="DepartmentId" class="control-label"></label>
            <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
        </div>
    </div>

    <div class="col-5">
        <div class="form-group">
            <label asp-for="Semester" class="control-label"></label>
            <input asp-for="Semester" class="form-control" />
            <span asp-validation-for="Semester" class="text-danger"></span>
        </div>

    </div>
    <div class="col-5">

        <div class="form-group">
            <label asp-for="Year" class="control-label"></label>
            <input asp-for="Year" class="form-control" />
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
    </div>
    <div class="col-5">

        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>*@
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

