@model NotataSub.Models.Client

@{ ViewData["Title"] = "Create"; }

<style>
    .create-page {
        display: unset;
    }
</style>

@section CreatePage
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-5">

        <div class="form-group">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="col-5">
        <div class="form-group">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>


    </div>

    <div class="col-5">


        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" type="email"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="col-5">

        <div class="form-group">
            <label asp-for="Phone" class="control-label"></label>
            <input asp-for="Phone" class="form-control" type="number" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>

    <div class="col-5">
        <div class="form-group">
            <label asp-for="Image" class="control-label"></label>
            <input asp-for="Image" class="form-control"  type="file"/>
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>

    </div>
   
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

