@model NotataSub.Models.Studyyear


@{ ViewData["Title"] = "Delete"; }

<style>
    .delete-page {
        display: unset;
    }
</style>





@section DeletePage
{
    <table class="table">
        <tr>
            <th class="w-25">
                @Html.DisplayNameFor(model => model.Yearname)
            </th>
            <td>
                @Html.DisplayFor(model => model.Yearname)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dept)
            </th>
            <td>
                @Html.DisplayFor(model => model.Dept.DepartmentName)
            </td>
        </tr>
    </table>


    <div class="mt-2 mr-4">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-outline-danger" />
            <i class="far fa-trash-alt"></i>
            حذف
        </form>
    </div>

}