@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}









<section>
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">

                <div class="card-header" style=" display: flex;
  justify-content: space-between;">
                    <p>تقرير الكوبونات</p>



                </div>

                <div class="card-body">




                    <div class="row mb-4" style=" width: 50vw;  margin: auto;">


                        <div class="col">
                            <div class="form-outline">
                                <label class="control-label"> من تاريخ</label>

                                <input class="form-control" id="start" type="date" />




                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="control-label"> إلى تاريخ</label>

                                <input class="form-control" id="end" type="date" />




                            </div>
                        </div>



                        <div class="col">
                            <div class="form-outline">

                                <br />
                                <button class="btn btn-primary btn-lg btn-block" type="submit" style="width: 50px;" onclick="Search()">
                                    <i class="fa fa-search"></i>
                                </button>

                            </div>
                        </div>

                    </div>



                    <table class="table table-striped" id="dep_table">

                        <thead style="white-space: nowrap;">
                            <tr>
                                
                                <th style="text-align: center;" scope="col">
                                   رقم الزبون
                                </th>
                                <th style="text-align: center;" scope="col">
                                    قيمة الكوبون
                                </th>
                                <th style="text-align: center;" scope="col">
                                    تاريخ إنشاء الكوبون
                                </th>


                            </tr>
                        </thead>
                        <tbody id="table">
                        </tbody>




                    </table>





                </div>

                <div class="card-footer">

                    <button type="button" onclick="generatePDF()" class="btn-sm btn-success pull-right">طباعة</button>

                </div>


            </div>

        </div>

    </div>
</section>



@section Scripts {

    <script>


        function Search() {



            var start = document.getElementById('start').value;
            var end = document.getElementById('end').value;

         

            $.get("/Reports/CobonReport", { startDate: start, EndDate: end }, function (data) {

                var table_tr = "";


                for (var i = 0; i < data.length; i++) {

                    table_tr += `
                                             <tr>
                                                                     <td style="text-align: center;"> `+ data[i].clientName + ` </td>
                                                                              <td style="text-align: center;"> `+ data[i].cobonValue + ` </td>
                                                                                      <td style="text-align: center;"> `+ data[i].cobonDate + ` </td>
                                                                                              








                                               </tr>`;

                }




                document.getElementById('table').innerHTML = table_tr;


                $(function () {
                    $('#dep_table').DataTable({
                        "lengthMenu": [[5, 10, 15, 20, 25, -1], [5, 10, 15, 20, 25, "All"]],
                        "responsive": true,
                        "autoWidth": true,
                        "language": {
                            "sProcessing": "جارٍ التحميل...",
                            "sLengthMenu": "أظهر _MENU_ مدخلات",
                            "sZeroRecords": "لم يتم العثور على أية نتائج",
                            "sInfo": "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
                            "sInfoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
                            "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
                            "sInfoPostFix": "",
                            "sSearch": "البحث:",
                            "sUrl": "",
                            "oPaginate": {
                                "sFirst": "الأول",
                                "sPrevious": "السابق",
                                "sNext": "التالي",
                                "sLast": "الأخير"
                            }
                        }
                    });
                });


            });

        }








        function generatePDF() {

            // Choose the element id which you want to export.
            var element = document.getElementById('dep_table');

            var opt = {
                margin: 0.5,
                filename: 'Report.pdf',
                image: { type: 'jpeg', quality: 1 },
                html2canvas: { scale: 1 },
                jsPDF: { unit: 'in', format: 'a4', orientation: 'landscape', precision: '12' }

                // jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait', precision: '12' }
            };

            // choose the element and pass it to html2pdf() function and call the save() on it to save as pdf.
            html2pdf().set(opt).from(element).save();
        }









    </script>


















}
